/*
body{
  background-color: green
}
*/


.claseTest{
  border: 2px solid;
    border-bottom-left-radius: 2em;
}

.classHeader{
  background-color: #000000
}

.classLogoArea{
  background-color: black
}

.menuArea{
  background-color: #0099F7

}
.mainMenuArea ul.navbar-nav li a {
    color: #FFFFFF;
    font-size: 14px;
    padding: 20px;
}

.fontWithe{
  color:#FFFFFF;
}

.titleArea {
  background-color: #0099F7; /*repeat scroll 0 0 #0099F7*/
  margin: 0;
  padding: 50px 0;
}

.footerArea {
  background-color: #000000;
}

.bigButtonCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.bigTitle h2 {
  font-size: 50px;
  font-weight: 200;
  color: #fff;
}

.divisor{
    margin: 0;
    padding: 50px 0;
}

.divIcons {
  width:80px;
  height:80px;
  overflow:auto;
}

.bloque {
  height: 100%;
  width: 100%;
  text-align: center;
  display: table;
}

.logo{
  width:100px;
  height:100px;
  overflow:auto;
  margin: 30px;
   /** height: 300px;*/
}

.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {
  background: #000000;
  color:#FFF;
}
